## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"

In [4]:
xx= x.replace("DiClOrod  IFeNi  lTRicLOr oETaNo","")
title= xx.replace(" ","")
title.title()

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [5]:
exercise2 = {'A': 'word', 'B': 15, 'C':3.14, 'D': 'list'}
print(exercise2['A']," ", exercise2['B']," ", exercise2['C']," ",exercise2['D'])

word   15   3.14   list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [6]:
wh = input()
wh= wh.split()
h = float(wh[1])
w = float(wh[0])
BMI = w / h ** 2
print(BMI)

68.4 1.71
23.39181286549708

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [7]:
BMI= round(BMI,2)
if BMI < 18.5:
    print(BMI,'underweight')
if BMI >= 18.5 and BMI < 24.9:
    print(BMI,'Normal Weight')
if BMI >= 24.9 and BMI < 30.0:
    print(BMI,'Pre-Obseity')
if BMI >= 30.0 and BMI < 34.9:
    print(BMI,'Obesity Class I')
if BMI >= 34.9 and BMI <= 39.9:
    print(BMI,'Obesity Class II')
if BMI >= 40.00:
    print(BMI,'Obesity Class III')

23.39 Normal Weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [1]:
num = int(input("enter a number: "))
fac = 1
for x in range(1, num +1 ):
    fac = fac * x
    
print("factorial of ", num, " is ", fac)

enter a number: 8
factorial of  8  is  40320

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [3]:
x = -5
while  x < -1:
    print(x)
    x += 1

-5
-4
-3
-2

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [8]:
employee = ['John Doe', 37.7, 15.3]
salary = employee[1] * employee[2]
round(salary,2)

576.81

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [91]:
A = float(input())
B = float(input())
C = float(input())

-9.5
-8.3
7.2

    a) the area of the triangle rectangle with A as the base and C as the height.

In [92]:
area = A * B /2
area

39.425000000000004

    b) the area of the circle of radius C. (pi = 3.14159)

In [93]:
area_circle = 3.14159 * C**2
area_circle

162.8600256

    c) the area of the trapezoid that has A and B for bases and C for height.

In [94]:
trapezoid = A * C / 2  + B *C / 2
trapezoid

-64.08000000000001

    d) the area of the square that has side B.

In [95]:
 area_square = B*2
 area_square

-16.6

    e) the area of the rectangle that has sides A and B.

In [96]:
rectangle = A*B
rectangle

78.85000000000001

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [99]:

if ((B**2)-4*A*C) < 0:
  print("There are no real roots")
else:
  x1 = (-B+math.sqrt(B**2-(4*A*C)))/(2*A)  
  x2 = (-B-math.sqrt(B**2-(4*A*C)))/(2*A)  
  print("Solutions:")
  print(x1)
  print(x2)

Solutions:
-1.410867649986115
0.5371834394597992

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [22]:
x  = input()
y = input()
x = x.split()
y = y.split()

distance = ((float(x[0]) - float(x[1]))**2 + (float(y[ 0]) - float(y[1]))**2)**0.5
print('The distance between the points is:',distance)

15.5 13.8
8.9 17.7
The distance between the points is: 8.96270048590267

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [31]:
Cor  = input()
Cor = Cor.split()


if float(Cor[0]) > 0 and float(Cor[1]) > 0:
    print('X and Y are at First quadrant')

elif float(Cor[0])  < 0 and float(Cor[1]) > 0:
    print('X and Y are at Second quadrant')

elif float(Cor[0])  < 0 and float(Cor[1]) < 0:
    print('X and Y are at Third quadrant')

elif float(Cor[0])  > 0 and float(Cor[1]) < 0:
    print('X and Y are at Fourth quadrant')
else: 
    print('X and Y are at Origin')

-1.4 -8.6
X and Y are at Third quadrant

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [32]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

C:\Users\Leox\Anaconda3\lib\site-packages\pandas\compat\_optional.py:106: UserWarning: Pandas requires version '1.2.1' or newer of 'bottleneck' (version '1.2.0' currently installed).
  warnings.warn(msg, UserWarning)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [33]:
code = input()
countries= {'43':'Austria', '32':'Belgium', '359':'Bulgaria', '358':'Croatia',
            '357':'Cyprus', '420':'Czech Republic', '45':'Denmark', 
            '372':'Estonia', '358':'Finland', '33':'France'} 
if code in countries:
    print( 'The countrie is:', countries[code])
else:
    print('The code is not in the list')

357
The countrie is: Cyprus

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [34]:
numbers = [12, 22, 55, 48,31,62]
def average(num):
    sum_num = 0
    for t in num:
        sum_num = sum_num + t           

    avg = sum_num / len(num)
    return avg

print("The average is", round(average(numbers), 1))

The average is 38.3

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [35]:
for N in range(1,9):
    if N % 2 == 0:
        N = N**3
        print(N)

8
64
216
512

 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [36]:

my_input = int(input())
def even_odd(num):
    if num % 2 == 0 and num != 0:
        return ('even')
    if num % 2 != 0:
        return ('odd')
    if num % 2 == 0:
        return ('0')

def negative_positive(num):
    if num < 0 and num != 0:
        return ('negative')
    if num > 0 and num != 0:       
        return ('positive') 
    if num == 0: 
        return('')
 



        
print(even_odd(my_input), negative_positive (my_input))

8
even positive

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [45]:

mylist = [ input(), input(),input(),input(),input(),input()]
separator = " "

stop= False 
while stop == False:
    stop = True
    for n in range(len(mylist) -1): 
        if mylist[n] > mylist[n+1]:
            iterated = mylist[n]
            mylist[n] = mylist[n+1]
            mylist[n+1] = iterated
            stop = False 

            
   
print(separator.join(map(str, mylist)))

6
8
0
9
-5
2
-5 0 2 6 8 9