# Introduction to Python   

### Data Types

1 - What are the Python most common bultin data types?    
Give examples creating variables for each of them.

In [1]:
string = 'my string'
print(string)

my string

In [2]:
boolean = True
print(boolean)

True

In [88]:
decimal = 3.5
type(decimal)

float

In [20]:
integer = 300
print(Integer)

300

In [9]:
my_list = [1,2,3,8,9]
print(my_list)

[1, 2, 3, 8, 9]

In [13]:
dictionary = {'a' : 23, 'b' : 54, 'c':[2, 1, 'abc']}
print(dictionary)

{'a': 23, 'b': 54, 'c': [2, 1, 'abc']}

In [127]:
cx = 2 +5j
cx

(2+5j)

2 - Exemplify at least 5 ways to convert data types, using the variables that were created in the previous question:

In [21]:
str(integer)

'300'

In [89]:
int(decimal)

3

In [27]:
list(string)

['m', 'y', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [28]:
set(my_list)

{1, 2, 3, 8, 9}

In [93]:
float(2)

TypeError: 'float' object is not callable

3- Exemplify the use of individual or combined built-in data types to create the following data structures:  

+ A medical record  
+ A pixel matrix in RGB format  
+ A set of geographical coordinates representing the Mayor's Office and The fire brigade in 5 different cities

In [94]:
medical_record = {"name": 'Leonardo Villarroel', 
                  "age": 26,
                  'allergies': ['nuts', 'shellfish', 'penicillin'] ,
                  'Covid19': False}

In [148]:
RGB =  [(1, 2, 3, 4, 5, 6) , ('red', 'blue', 'pink', 'white', 'yellow', 'black')]

In [95]:
mayoroffice = {   'Madrid': '40°25′08″N 3°41′32″O',
                  'Vienna': '48°12′39″N 16°21′27″E',
                   'Paris': ' 48°51′23″N 2°21′08″E',
                  'London': '51°30′17″N 0°04′42″O',
                  'Barcelona':'41°22′56″N 2°10′39″E'}
firestations = { 'Madrid': '40°14 ′50"N 3°45′37′′W',
                  'Vienna': '48°14′59.2′′N 16°21′01.1′′E',
                   'Paris': '48°47′13.5′N 2°15′06.4′′E',
                  'London': '51°29′28.9′′N 0°10′15.1′′W',
                  'Barcelona':'41°28′24.1′′N 2°14′11.7′′E'}

4- Give some examples on how to access the data in the data structures created in the previous question:

In [96]:
medical_record['Covid19']

False

In [112]:
firestations

{'Barcelona': '41°28′24.1′′N 2°14′11.7′′E',
 'London': '51°29′28.9′′N 0°10′15.1′′W',
 'Madrid': '40°14 ′50"N 3°45′37′′W',
 'Paris': '48°47′13.5′N 2°15′06.4′′E',
 'Vienna': '48°14′59.2′′N 16°21′01.1′′E'}

In [136]:
RGB[1][1]

'blue'

5- Explain with examples the differences between:  

+ Mutable and immutable types  
+ Container types  
+ Sequential types

In [134]:
colors =  ['red', 'blue', 'yellow']
colorstuple = ('red', 'blue', 'yellow')
colors.append('brown')
#colorstuple.append('brown') immutable types as tuples cant be modifed, on the other hand we could modify mutable types 
print(colors)

['red', 'blue', 'yellow', 'brown']

In [100]:
sentence = 'strings are secuencial types'
lists= ['lists','are', 'also', 'secuencial', 'types']
tuples= ('tuples', 'are', 'also', 'secuencial')
#We can acces specific items in a secuencial types
print(sentence[0], lists[1],tuples[2])

s are also

In [101]:
colorsset ={'red', 'blue', 'yellow', 'yellow'}
print(colorsset)
colorlist = ['red', 'blue', 'yellow', 'yellow']
print(colorlist)  # Set are also inmutable containers  and cant store only unique data types. they are also not secuencial 
#and unordered

{'red', 'blue', 'yellow'}
['red', 'blue', 'yellow', 'yellow']

6- Exemplify method calls on variables associated with data types that:
+ Do not modify the variable and do not return values when the method is called  
+ Modify the variable but do not return values when the method is called  
+ Do not modify the variable but return values to the method call  
+ Modify the variable and return values to the method call

In [102]:
type(colorsset) #type dont modify the variable and return only the data type

set

In [103]:
colorlist.append('black') # append method add items but does not return any output

In [104]:
len(colorsset) #len dont modify the variable but return the lenght

3

In [105]:
sentence.upper() #upper modify the variable  and return the variable in Upper case.

'STRINGS ARE SECUENCIAL TYPES'

7- Exemplify the use of methods for:
+ Test whether a string can be converted to an integer  
+ Test if a set is a subset of another set    
+ Concatenate two lists  
+ Count the occurrences of an element in a list

In [106]:
number= '4'
int(number)

4

In [107]:
seta = { 1, 2, 3, 4, 5}
setb = { 3, 2, 1}
setb.issubset(seta)

True

In [108]:
list1 = [1, 2,3]
list2 = [4, 5, 6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

In [109]:
colorlist.count('yellow')

2

Describe, in general terms, what a programming language is, and what it is for.

A programming language is a language that allow us to give to the computer instruccions or algorithms to manipulate logically  a set of data